.Container {
  display: flex;
  background-image: linear-gradient(
    to right,
    #6a359d,
    #6a4eaf,
    #6c64bf,
    #7079cd,
    #778ed9,
    #709fe6,
    #6aaff0,
    #69bff8,
    #52cffe,
    #41dfff,
    #46eefa,
    #5ffbf1
  );
  min-height: 80px;
  min-width: 200px;
  color: azure;
  justify-content: center;
  align-items: center;
  font-weight: 600;
  font-size: 1.5rem;
}
